body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

h2 {
    margin-top: 100px;
}

span {
    font-size: 16px;
}

.update-message {
    color: red;
}

.user-info {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 10px;
}

.info-category {
    border-radius: 5px;
    background-color: rgb(250, 250, 250);
    padding: 10px 20px 10px 20px;
}

.category-name {
    font-size: 18px;
    font-weight: bold;
}

.update-area {
    display: flex;
    justify-content: space-between;
}

.update-area input {
    width: 250px;
    padding: 2px 2px 2px 2px;
}